#PositionPage {
  z-index: 1;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height:100%;
  background: whitesmoke;
  display: flex;
  flex-direction: row;
}


#PositionPage #PositionControl{
  height:100%;
  border: 15px solid transparent;
  display: flex;
  flex-direction: column;
}

#PositionPage #PositionCanvasContainer{
  height: 100%;
  border: 15px solid transparent;
  overflow: scroll;
}

.item1{
    margin: auto;
    display: flex;
    width: 98%;
    height: 14%;
}

.item2{
    margin: auto;
    display: flex;
    width: 98%;
    height: 22%;
}

.item3{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 8%;
}

.item4{
    margin: auto;
    display: flex;
    width: 98%;
    height: 8%;
}


.item4 button{
  height: 40px;
  width:40px;
  padding:0;
  margin: auto;
}

.item4 .material-icons{
  font-size: 40px;
}

.item5{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 25%;
}

.item6{
    margin: auto;
    display: flex;
    width: 98%;
    height: 19%;
    flex-direction: column;
}
.item6 button{
  width: 100px;
  margin-top: 20px;
  margin: auto;
}

#start_button {
    color: green;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 3px #999;
    margin: auto;
    font-size: 70px;
    cursor: pointer;
}

/* Darker background on mouse-over */
#start_button:hover, #PositionPage .direction:hover{
    background-color: rgba(255,255,255,0.3);
}

#start_button:active, #PositionPage .direction:active {
  background-color: rgba(255,255,255,0.3);
    box-shadow: 0 3px transparent;
}

#PositionPage .direction {
    color: red;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px #999;
    margin: auto;
    font-size: 30px;
    cursor: pointer;
}


#timer{
    background-color: black;
    width: 90px;
    height: 28px;
    margin: auto;
    color: green;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    display: block;
    visibility:hidden;
}

#timer.show{
  visibility:visible;
}

#xcoordinate{
    margin: auto;
}

#ycoordinate{
    margin: auto;
}

#img_width{
    margin: auto;
}

#img_height{
    margin: auto;
}

#PositionPage .w3-btn:active{
  color: maroon;
}

.notice{
    margin: auto;
    padding-top: 2%;
    padding-left: 2%;
    font-size: 15px;
}
