#PositionPage {
  z-index: 1;
  position: absolute;
  top:0;
  left: 0;
  height:100%;
  width: 100%;
  background: whitesmoke;
}


#PositionPage .main_body{
    margin: auto;
    display: flex;
    width: 1100px;
    height: 500px;
}

#PositionPage #CanvasContainer{
    background-color: white;
    margin: auto;
    margin-left: 2%;
    display: flex;
    height: 400px;
    overflow: auto;
}

.buttons{
    margin: auto;
    display: flex;
    width: 23%;
    height: 96%;
    flex-direction: column;
}

.item1{
    margin: auto;
    display: flex;
    width: 98%;
    height: 14%;
}

.item2{
    margin: auto;
    display: flex;
    width: 98%;
    height: 22%;
}

.item3{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 8%;
}

.item4{
    margin: auto;
    display: flex;
    width: 98%;
    height: 8%;
}

.item5{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 25%;
}

.item6{
    margin: auto;
    display: flex;
    width: 98%;
    height: 19%;
    flex-direction: column;
}

.start_btn {
    background-color: green;
    border-radius: 50%;
    box-shadow: 0 5px #999;
    margin: auto;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

/* Darker background on mouse-over */
.start_btn:hover {
    background-color: gray;
}

#start_text:hover {
    background-color: gray;
}

#homeXY:hover, #homeZ:hover, #timer_btn:hover{
    background-color: gray;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.canvas {
    border:1px solid #d3d3d3;
    background-color: #F0F0F0;
    margin: auto;
}

.home {
    border-radius: 8%;
    margin: auto;
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.home {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#timer{
    background-color: black;
    width: 80px;
    height: 25px;
    margin: auto;
    color: green;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}

#xcoordinate{
    margin: auto;
}

#ycoordinate{
    margin: auto;
}


#zcoordinate{
    margin: auto;
}

#img_width{
    margin: auto;
}

#img_height{
    margin: auto;
}

.notice{
    margin: auto;
    padding-top: 2%;
    padding-left: 2%;
    font-size: 15px;
}
