#PsPage{
  z-index: 3;
  position: absolute;
  height:100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
}


#PsPage .colorSelection {
    height: 100%;
    flex:1;
    flex-grow: 6;
    background-color:whitesmoke;
    margin: auto;
    position: relative;
}

#PsPage #t_header{
  background: black;
  color: white;
}


#PsPage table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    border: 1px solid #ddd;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

#PsPage th, #PsPage td {
    text-align: center;
    padding: 16px;
}

#PsPage th:last-child{
  padding: 0;
}

#PsPage tr:nth-child(even) {
    background-color: white;
}
#PsPage .input-color {
    position: relative;
}

#PsPage .color-box {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 4px;
    top: 18px;
}


#PsPage .input-color:hover{
    background-color: dimgray;
}

#PsPage tr.input-color.PsSelect{
  background-color: rgba(0,0,0,0.3);
}

#PsPage .sliders {
    flex:2;
    flex-grow: 3;
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
}

#PsPage .slideContainer {
    width: 100%;
}

#PsPage .sliderDivide{
    display: flex;
    flex-direction: row;
}

#PsPage .sliderDivide p {
  flex-grow: 3;
}

#PsPage .slider{
    -webkit-appearance: none;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    flex-grow: 7;
    margin: auto;
}

#PsPage .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: lightslategray;
    cursor: pointer;
}

#PsPage .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: lightslategray;
    cursor: pointer;
}

#PsPage .w3-btn {
  width: 130px;
  margin: auto;
  display: block;
}
