body{
      margin:0;
}

#gameContainer{
  position: absolute;
  width: 1280px;
  height:800px;
  top:0;
  bottom: 0;
  left: 0;
  right:0;
  margin: auto;
}

#overlay{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 10;
}


#mainContainer {
  position:absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
}

#navigationBar{
  height: 40px;
  width: 100%;
}

#screenTopLeft {
  background: url("../images/wrecked_computer/upperleft.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 40px;
  height: 25px;
  width: 25px;
}
#screenTop {
  background: url("../images/wrecked_computer/upper.png") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  left: 25px;
  top: 40px;
  height: 25px;
}
#screenTopRight {
  background: url("../images/wrecked_computer/upperright.png") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 40px;
  height: 25px;
  width: 25px;
}
#screenLeft {
  background: url("../images/wrecked_computer/left.png") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 65px;
  width: 25px;
}
#screenRight {
  background: url("../images/wrecked_computer/right.png") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 65px;
  width: 25px;
}
#screenBottom {
  background: url("../images/wrecked_computer/bottom.png") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  left: 25px;
  bottom: 0;
  height: 35px;
}
#screenBottomLeft {
  background: url("../images/wrecked_computer/bottomleft.png") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 35px;
  width: 25px;
}
#screenBottomRight {
  background: url("../images/wrecked_computer/bottomright.png") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 35px;
  width: 25px;
}



#navigationBar .w3-tab{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

#InterfaceContainer {
  position: absolute;
  top: 65px;
  left:25px;
  overflow: hidden;
}

#top{
  position: absolute;
  height: 6%;
  width: 100%;
  max-height: 50px;
  min-height: 40px;
  overflow:visible;
}
#main {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: scroll;
}

#close {
  position: absolute;
  top: 8px;
  right: 2px;
  width: 24px;
  height: 24px;
  border: 2px solid #eef5df;
	background-color: #ff5248;
	border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
#close::before, #close::after {
	position: absolute;
	top: 9px;
	left: 3px;
	width: 13px;
	height: 3px;
	content: "";
	background-color: #eef5df;
	display: none;
	}
#close::before {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	}
#close::after {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	}
#close:hover { cursor: pointer; }
#close:hover::before, #close:hover::after { display: block; }


.material-icons {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
