#modification{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 2px solid black;
}

#modification button{
      margin-left: 20px;
}

#modification :first-child{
      margin-left: 100px;
}


#fill_color {
  border: 1px solid rgba(255,255,255, 0.65);
  border-radius: 4px;
  width: 30px;
  height:30px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#fill_color.black{
  background-color: #000000;
}
#fill_color.red{
  background-color: #FF0000;
}
#fill_color.blue{
  background-color: #0000FF;
}

#stroke_color {
  background-color: rgba(255,255,255, 0.3);;
  border-radius: 4px;
  width: 30px;
  height:30px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
#stroke_color.red{
  border: 6px solid #FF0000;
}
#stroke_color.black{
  border: 6px solid #000000;
}
#stroke_color.blue{
  border: 6px solid #0000FF;
}




.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}





#colorhint{
    width: 20px;
    height: 20px;
    margin-top: 8px;
    background-color: white;
    border-style: solid;
    border-color: white;

}



#line_dropdown{
    z-index: 3;
    width: 50px;
    position: relative;

}

#line_dropdown #LineRange {
    width: 10px;
    z-index: 3;
}

#widthhint{
    width: 40px;
    height: 20px;
    margin-top: 8px;
    background-color: white;
    border-style: solid;
    border-color: white;
    text-align:center ;

}
