body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

}

#taskbar {
    order: 1;
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 1000px;
    background-color: lightskyblue;
}

 button{
    padding: 20px;
    height: 10px;
     text-align: center;
}

#modification{
    order:2;
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 1000px;
    background-color: lightgrey;
}

#operation{
    order:3;
    height:1500px;
    display:flex;
    flex-direction:row;

}

#tool_bar{
    order:1;
    display:flex;
    flex-direction: column;
    margin-top: 8px;

}

#Canvas{
    order:2;
    margin-top:50px;
    margin-left: 50px;

}