/**Project Page Format**/

@import url('https://fonts.googleapis.com/css?family=Parisienne|Playball');

#projectContainer{
    position: relative;
    left: 15%;
    display: flex;
    flex-direction: row;
    transform: scale(0.8, 0.8);
}

#first-column{
    flex: 1;
    position: relative;
    right: 5%;

}
#second-column{
    flex: 2;
    position: relative;

}
#third-column{
    flex: 3;
}
#fourth-column{
    flex: 4;
}

#container1{
    width: 1280px;
    height: 800px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    margin: auto;
    background-image: url('https://www.subtlepatterns.com/patterns/brickwall.png');
}

#projectTitle{
    position: relative;
    background-image: url(../image/projectTitle.png);
    height: 150px;
    width: 401px;
    transform: scale(1.1, 1.1);
    left: 35%;
    top: 5%;
}

#titleText{
    position: relative;
    left: 30%;
    size: 12px;
    color: white;
}

.projectButton{
    border-style: none;
    background-color: transparent;
    font-family: 'Playball', cursive;
    color: Blue;
    font-size: 20px;
}

#second-1{
    height: 200px;
    width: 150px;
    border: 8px solid #ccc;
    border-bottom: 8px solid #f9f9f9;
    border-right: 8px solid #f9f9f9;
    overflow: auto; background: #f5f5f5 url(http://shaunkardinal.com/i/mimosa-platter.jpg) no-repeat 50% 50%;
    background-size: cover;
    position: relative;
    left: 70%;
}
#project3{
    height: 230px;
    width: 190px;
    border: 8px solid #ccc;
    border-bottom: 8px solid #f9f9f9;
    border-right: 8px solid #f9f9f9;
    overflow: auto; background: #f5f5f5 url(http://shaunkardinal.com/i/mimosa-platter.jpg) no-repeat 50% 50%;
    background-size: cover;
    position: relative;
    top: 6%;
    left: 65%;
}
#second-3{
    height: 150px;
    width: 200px;
    border: 8px solid #ccc;
    border-bottom: 8px solid #f9f9f9;
    border-right: 8px solid #f9f9f9;
    overflow: auto; background: #f5f5f5 url(../OperationalInterfaces/scene_pics/Hans1.png) no-repeat ;
    background-size: cover;
    position: relative;
    top: 10%;
    left: 65%;
}

#project1 {
    position: relative;
    display: block;
    height: 120px;
    margin: 100px auto;
    top: 20%;
    left: 50%;
    margin: 0 0 0 -150px;
}

#project1:before {
    content: "";
    position: absolute;
    display: block;
    width: 132%;
    height: 132%;
    top: -16%;
    left: -16%;
    background-color: #f8f8f8;
    z-index: -1;
    box-shadow:
            inset 0px 10px .5em rgba(0,0,0,.25),
            inset .1em 0px .1em rgba(0,0,0,.1),
            inset -0.1em 0px .1em rgba(0,0,0,.05),
            0 .3em .2em #fff;
    background-image: -moz-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
    background-image: -webkit-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
    background-image: -o-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
    background-image: -ms-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
    background-image: radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%)
}

#project1:after {
    content: "";
    position: absolute;
    display: block;
    width: 145%;
    height: 145%;
    top: -22.5%;
    left: -22.5%;
    background: #f8f8f8;
    z-index: -2;
    box-shadow:
            0px 1em 2em -1em rgba(0,0,0,.4),
            0px 2em 2em -1em rgba(0,0,0,.3),
            0px 3em 2em -1em rgba(0,0,0,.2),
            0px 4em 1.5em -1em rgba(0,0,0,.15),
            0px 2em 4em .5em rgba(0,0,0,.1),
            inset 0 .2em .1em #fff;
}



#img1 {
    background: #fff;
    position: relative;
    display: block;
    width: auto;
    height: 88%;
    padding: 6%;
    box-shadow: inset 0px .3em .1em rgba(0,0,0,.2); }


#project2 {
    position: relative;
    display: block;
    width: 120px;
    margin: 100px auto;
    top: 25%;
    left: 65%;
}

#project2:before {
    content: "";
    position: absolute;
    display: block;
    width: 132%;
    height: 132%;
    top: -16%;
    left: -16%;
    background-color: #f8f8f8;
    z-index: -1;
    box-shadow:
            inset 0px 10px .5em rgba(0,0,0,.25),
            inset .1em 0px .1em rgba(0,0,0,.1),
            inset -0.1em 0px .1em rgba(0,0,0,.05),
            0 .3em .2em #fff;
    background-image: -moz-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
    background-image: -webkit-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
    background-image: -o-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
    background-image: -ms-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
    background-image: radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%)
}

#project2:after {
    content: "";
    position: absolute;
    display: block;
    width: 145%;
    height: 145%;
    top: -22.5%;
    left: -22.5%;
    background: #f8f8f8;
    z-index: -2;
    box-shadow:
            0px 1em 2em -1em rgba(0,0,0,.4),
            0px 2em 2em -1em rgba(0,0,0,.3),
            0px 3em 2em -1em rgba(0,0,0,.2),
            0px 4em 1.5em -1em rgba(0,0,0,.15),
            0px 2em 4em .5em rgba(0,0,0,.1),
            inset 0 .2em .1em #fff;
}



#img2 {
    background: #fff;
    position: relative;
    display: block;
    width: 88%;
    height: auto;
    padding: 6%;
    box-shadow: inset 0px .3em .1em rgba(0,0,0,.2); }


#project4 {
    position: relative;
    display: block;
    width: 120px;
    margin: 100px auto;
    top: 15%;
    left: 5%;
    bottom: 15%;
}

#project4:before {
    content: "";
    position: absolute;
    display: block;
    width: 132%;
    height: 132%;
    top: -16%;
    left: -16%;
    background-color: #f8f8f8;
    z-index: -1;
    box-shadow:
            inset 0px 10px .5em rgba(0,0,0,.25),
            inset .1em 0px .1em rgba(0,0,0,.1),
            inset -0.1em 0px .1em rgba(0,0,0,.05),
            0 .3em .2em #fff;
    background-image: -moz-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
    background-image: -webkit-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
    background-image: -o-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
    background-image: -ms-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
    background-image: radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%)
}

#project4:after {
    content: "";
    position: absolute;
    display: block;
    width: 145%;
    height: 145%;
    top: -22.5%;
    left: -22.5%;
    background: #f8f8f8;
    z-index: -2;
    box-shadow:
            0px 1em 2em -1em rgba(0,0,0,.4),
            0px 2em 2em -1em rgba(0,0,0,.3),
            0px 3em 2em -1em rgba(0,0,0,.2),
            0px 4em 1.5em -1em rgba(0,0,0,.15),
            0px 2em 4em .5em rgba(0,0,0,.1),
            inset 0 .2em .1em #fff;
}



#img3 {
    background: #fff;
    position: relative;
    display: block;
    width: 88%;
    height: auto;
    padding: 6%;
    box-shadow: inset 0px .3em .1em rgba(0,0,0,.2); }

#fourth-1{
    display: inline-block;
    position: relative;
    left: 10%;
    top: 35%;
    -moz-transform:rotate(-5deg);
    -webkit-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    transform:rotate(-5deg);
}

#img4 {
    width: 300px;
    border-color: white /* for an acceptable IE result*/;
    border-width: 15px;
    -moz-border-image: url(http://tobias-reinhardt.de/img/frame.png) 15 stretch;
    border-image: url(http://tobias-reinhardt.de/img/frame.png) 15 stretch;
    border-style: solid;
    margin: auto;
}

#img4.hasCaption {
    padding-bottom: 50px;
}

figcaption {
    position: absolute;
    left: 14px;
    right: 14px;
    bottom: 16px;
    background-color: white;
    text-align: center;
    color: blue;
    font-family: 'Reenie Beanie', cursive;
    font-size: 30px;
    padding: 10px;
}

#third-1 {
    width: 250px;
    height: 250px;
    border: 15px solid white; /* gives us a white square */
    border-radius: 50%; /* makes it a circle */
    margin: 50px auto; /* vertical | horizontal (auto centers us horizontally)*/
    position: relative; /*adjusts the elements position without changing layout*/
    padding: 2rem; /* interior padding to prevent clock hands from hitting the edge*/
    box-shadow:
            0 0 0 4px rgba(0,0,0,0.1), /*adds outer shadow*/
            inset 0 0 0 3px #EFEFEF, /* adds inner shadow */
            inset 0 0 10px black, /* adds another inner shadow */
            0 0 10px rgba(0,0,0,0.2); /* adds another outer shadow */
    left: 20%;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    /*transform: translateY(-3px);*/
}

.hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute; /* don't leave space for the element.Position at a specified position*/
    top: 50%; /* specifies postion between top margin edge of the element and the top edge of its containing block*/
    transform-origin: 100%; /*defaults to 50%. 100% puts pivot on the right hand side of the x-axis*/
    transition: all 0.1s; /* sets length of our transitions*/
    transition-timing-function: cubic-bezier(0, 1.89, 0.58, 1); /* gives us the 'ticking' look*/
}

.hour-hand {
    width: 35%;
    margin-left: 25px;
    transform: rotate(90deg);
}

.second-hand {
    height: 3px;
    background: white;
}

#ProjectBack{
    position: relative;
    border-style: hidden;
    background-color: transparent;
    color: black;
    font-family: MainTitleFont;
    font-size: 30px;
    padding: 5px;
    text-decoration: none;
    top: 50%;
    left: 15%;
}
#ProjectBack:hover{
    color: lightblue;
}


/**Project Page Buttons**/
#photoframe{
    position: relative;
    top: 20%;
}
