@font-face {
    font-family: MainTitleFont;
    src: url(../pics/font/quicksand/Quicksand-Regular.otf);
}

@font-face {
    font-family: LineFont;
    src: url(../pics/font/quicksand/Quicksand-Bold.otf);
}
/**dialogBox**/
#dialogBox{
    height: 150px;
    text-align: center;
    border: hidden;
    line-height: 600%;
    position: relative;
    bottom: 60px;
    opacity: 0.85;
    background: linear-gradient(to right, grey, white);
    border-radius: 20px;
    z-index: 1;


}
body{
    background: url(../pics/scene2.png);
}
#char_head{
    background: url(../pics/text1.jpeg);
    height: 60px;
    width: 110px;
    text-align: center;
    color: white;
    border-radius: 6%;
    transform: rotate(-10deg);
    position: relative;
    bottom: 10px;
    z-index: 3;
    font-family: MainTitleFont;
    font-size: 20px;
}

/* The typing effect */
#lines {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation:
            typing 2.5s steps(40, end),
            blink-caret .75s step-end infinite;
    color: black;
    font-family:LineFont;
    font-size: 20px;
}


@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.name{
    color: white;
    line-height: 300%;
}

/**character**/

#character{
    background: url(../pics/Hans1.png);
    height: 533.3px;
    width: 400px;
    position: relative;
    left: 500px;
    top: 105px;


}

#menu{
    position: relative;
    bottom: 100px;
    left: 20px;
    z-index: 2;
}

.blocked{
    display: none;
}

#review{

    background: lightgrey;
    width: 500px;
    height: 680px;
    margin-left: 360px;
    overflow-y: scroll;
    opacity: 0.7;
    border-radius: 5px;
    color: black;
    font-family: LineFont;
    font-size: 20px;

}


/**button**/
.button{
    font-size: 20px;
    border-style: hidden;
    background-color: transparent;
    color: white;
    font-family: MainTitleFont;
    padding: 5px;
}
.button:hover{
    color: lightblue;
}

#back{
    position: relative;
    z-index: 1;
    top: 35px;
    left: 795px;
    font-size: 20px;
    border-style: hidden;
    background-color: transparent;
    color: white;
    font-family: MainTitleFont;
    padding: 5px;
}

#back:hover{
    color: lightblue;
}

.reviewedLines{
    padding: 10px;
}
#continue{
    position: relative;
    border-style: hidden;
    background-color: transparent;
    color: white;
    font-family: MainTitleFont;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    -webkit-animation: flash linear 1s infinite;
    animation: flash linear 1s infinite;
}

#skip{
    position: relative;
    border-style: hidden;
    background-color: transparent;
    color: white;
    font-family: MainTitleFont;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
}

#continue, #skip:hover{
    color: lightblue;
}

/* Flash class and keyframe animation */
@-webkit-keyframes flash {
    0% { opacity: 1; }
    50% { opacity: .1; }
    100% { opacity: 1; }
}
@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: .1; }
    100% { opacity: 1; }
}
